# Installed Lambda dependencies - not committed to git
boto3/
botocore/
bin/
dateutil/
jmespath/
s3transfer/
urllib3/
six.py
*.dist-info/
*.egg-info/
__pycache__/
six.py
typing_extensions.py
THIRD-PARTY-LICENSES
